<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SwapFlex Server</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <button onclick="window.location.href='/api/login'">
      Login to SwapFlex Server
    </button>
  </body>
</html>
