<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SwapFlex Server</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h2>SwapFlex Server</h2>
    <div class="box">
      <h3>Dollar Account</h3>
      <form action="/app/update-accounts/usd" method="post">
        <% for (const account_props in (account)) { %> <% if (account_props !==
        "_id") { %>

        <p>
          <%= account_props %> :
          <input
            type="text"
            name="<%= account_props %>"
            id=""
            value="<%= account[account_props] %>"
          />
        </p>
        <% } %> <% } %>
        <button type="submit">Update</button>
      </form>
    </div>
  </body>
</html>
