<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SwapFlex Server</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h2>SwapFlex Server</h2>
    <div class="box">
      <h3>Rates</h3>
      <form action="/app/update-rates" method="post">
        <% for (const currency in rates) { %> <% if (currency !== "_id") { %>

        <p>
          <%= currency %> :
          <input
            type="text"
            name="<%= currency %>"
            id=""
            value="<%= rates[currency] %>"
          />
        </p>
        <% } %> <% } %>

        <button type="submit">Update</button>
      </form>
    </div>
  </body>
</html>
